*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ---------- HEADER -----------*/
.backGround{
    display: flex;
    background-image: url(../image/PORTADA\ PARA\ WEB\ GUAO_Mesa\ de\ trabajo\ 1_Mesa\ de\ trabajo\ 1.jpg );
    background-size: auto 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.ordenHeader{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    margin-left: 100px;
    margin-bottom:  30px;
    

}
/* NAVBAR */
.menu{
    display: flex;
    width: 50%;
}
.menu dl {
    margin-top: 15px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 450px;
}
.menu dl a{
    font-size: 18px;
    font-weight: 900;
    color: #F6285A;
    text-decoration: none;
    margin-left: 25px;
}
.menu dl a:hover{
    color: #F5BD19;
    font-size: 20px;
}
/* NAVBAR */
/* Logo Principal de la Pagina */
.logoPrincipal{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 40px;
    margin-right: 100px;
}
.logoPrincipal img{
    height: 95%;
    width: 15%;
    margin-top: -40px;
}
.tituloHeader{
    font-size: 80px;
    margin-top: 40px;
    margin-right: 200px;
    font-weight: 700;
    width: 40%;
    height: 20%;
}
/* ---------- HEADER -----------*/
/* ---------- MAIN -----------*/
.separador{
    border-top: #F6285A solid 8px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 90px;
    align-items: center;
}
/* NOSOTROS */
.nosotros{

padding: 30px;
width: 30%;
margin-left: 50px;
margin-top: 20px;
margin-bottom: 60px;
font-size: 90px;
color: black;

}
.backGroundSection{
    background-image: url(./image/IMAGENES\ WEB\ GUAO.jpg );
    background-size: auto 100%;
    height: 100vh;
    background-repeat: no-repeat;
    border-top: 8px white solid;
    /* background-color: #F6285A; */
    height: 100vh;
    padding: 10px;
    
}
.imgNosotros{
    width: 25%;
    margin-left: 50px;
}
.ordenSectionNosotros{
    display: flex;
    margin-left: 60px;
    border-bottom: #F5BD19 8px solid;
    margin-right: 60px;
    padding-bottom: 50px;
 
}
/* NOSOTROS */
/* Carrousel */
#carouselExampleControls {
    height: 80%;
    width: 80%;
    margin-top: 200px;
    border: #F6285A 4px solid;
  }
  .fondoCarrousel{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: -150px;
 margin-bottom: 120px;
}
/* Carrousel */
/* Distribuidoras */
.distribuidoras{
    border-top: 6px solid #F6285A;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
}
.distribuidoraTitulo{
    margin: 60px;
    font-size: 60px;
    color: #F5BD19;
}
.ordenDistribuidoras{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    height: 350px;
    border: #F5BD19 solid 2px;
}
.iconifyCard{
    font-size: 40px;
    text-decoration: none;
    color: #25D366;
}
.mapa{
    border-radius: 5px;
    width: 150px;
    height: 90%;
    background-color: #F6285A;
    font-weight: 600;
    color: white;
}
.mapa:hover{
    background-color: white;
    height: 30px;
    color: #F6285A;
}
.ordenButtomCard{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
/* Heladerias */
.heladerias{
    margin-top: 60px;
    background-image: url(../image/background\ heladerias.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20px;
}
.heladeriaTitulo{
    margin: 60px;
    font-size: 80px;
    color: white;
    margin-bottom: 150px;
}
.ordenHeladerias{
    display: flex;
justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;

}
.cardHeladerias{
    height: 500px;
    border: #F5BD19 solid 2px;
}