* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoPrincipal {
    height: 150px;
    width: 150px;
}
.container-fluid{
    height: 120px;
    background-color:  rgba(0, 0, 0, 0);
}
.menuFlex{
    display: flex;
    justify-content:center;
}
.menuColor li a{
    color:#60291C;
    font-weight: 900;
}
.header {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../image/PORTADA\ PARA\ WEB\ GUAO_Mesa\ de\ trabajo\ 1_Mesa\ de\ trabajo\ 1.jpg );
    background-size: cover;

}
.textoPrincipal {
    margin-left: 50%;
    text-align: center;
    margin-top: 250px;
    font-size: 70px;
    font-weight: 700;
    height: 50vh;
    text-transform: uppercase;
    width: 50%;
}
.menuColor a{
    font-weight: 500;
}
.menuColor a:hover{
    color: #F6285A;
    font-weight: 700;
}

/* seccion nosotros */
.section1 {
    width: 100%;
    min-height: 100vh;
}

.imgNosotros{
    height: 40%;
    width: 30%;
    margin-left: 50px;
}
.textoNosotros{
    color: #60291C;
    font-size: 35px;
    width: 50%;
    word-wrap: break-word;
    height: 100%;
    font-weight: 600
}
.separador{
    height: 300px;
    border-top: #F6285A solid 8px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
    align-items: center;
    padding-bottom: 50px;
}
.nosotros{
    padding: 30px;
    width: 30%;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 70px;
    color: #60291C;
}
.nosotrosLine{
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.ordenSectionNosotros{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px;
    border-bottom: #F5BD19 8px solid;
    margin-right: 60px;
    padding-bottom: 50px;
}
/* Carrousel */
#carouselExampleControls {
    height: 80%;
    width: 100%;
    margin-top: 200px;
    border: #F6285A 4px solid;
}
.fondoCarrousel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
    margin-bottom: 120px;
}
/* Carrousel */
/* Card */
.card{
    height: 400px;
    border: #F5BD19 solid 2px;
}
.card-text{
    text-align: center;
    font-weight: 500;
}
.iconifyCard{
    font-size: 40px;
    text-decoration: none;
    color: #25D366;
}
.mapa{
    border-radius: 5px;
    width: 150px;
    height: 90%;
    background-color: #F6285A;
    font-weight: 600;
    color: white;
}
.mapa:hover{
    background-color: white;
    height: 30px;
    color: #F6285A;
}
.cardTitulos{
    text-align: center;
}
.ordenButtomCard{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center
}
/* Heladerias */
.heladerias{
    margin-top: 60px;
    background-image: url(../image/background\ heladerias.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding-top: 20px;
}
.heladeriaTitulo{
    margin: 60px;
    font-size: 80px;
    color: white;
    margin-bottom: 150px;
}
.ordenHeladerias{
    display: flex;
justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;

}
.cardHeladerias{
    height: 350px;
    border: #F5BD19 solid 2px;
}
/*Card*/
/* Distribuidoras */
.bordeDistribuidoras {
    border-top: 6px solid #F6285A;
    margin-left: 60px;
    margin-right: 60px;
}
.distribuidoras{
    min-height: 50vh;
}
.distribuidoraTitulo{
    margin: 60px;
    font-size: 60px;
    color: #F5BD19;
}
.ordenDistribuidoras{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Heladerias */
.heladerias{
    background-image: url(../image/background\ heladerias.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding-top: 20px;
}
.heladeriaTitulo{
    margin: 60px;
    font-size: 80px;
    color: white;
    margin-bottom: 150px;
}
.ordenHeladerias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Mision-Vision-Valores */
.sectionObjetivos{
    align-items: center;
    background-color: #F6285A;
    min-height: 70vh;
}
.objetivosFlex{
    display: flex;
    padding: 50px;
}
.objetivosFlex p{
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}
.borderObjetivos{
    border-top: #F5BD19 dashed 2px;
    width: 100%;
}
.objetivosFlex h2{
    font-size: 50px;
    color: white;
    align-self: center;
    width: 25%;
}
.objetivosFlex p{
    color: white;
    padding-top: 30px;
    padding-right: 20px;
    margin-right: 5px;
    width: 75%;
}
.politica h2{
    width: 20%;
    margin-left: 40px;
}
.objetivosFlex {
    display: flex;
    justify-content: space-between;
}
/*texto referencial */
#emprendeConGuao{
    min-height: 100vh;
}
.sectionTitle {
    width: 35%;
    font-size: 80px;
    padding: 4rem;
    text-transform: uppercase;
    color: #60291C;
}
.image7{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.image7 img{
    height: 35%;
    width: 35%;
}
.image7 p{
    color: #60291C;
    font-size: 40px;
    width: 40%;
    text-align: unset;
}
.creciendoContigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageCreciendoContigo{
    width: 100%;
    height: 100%;

}

/* footer */ 
.footerClass{
    background-color: #60291C;
}
.separadorFooter{
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}
.separadorFooter img{
    height: 10%;
    width: 10%;
}
.ordenFooter{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: #F5BD19 solid 5px;
}
.ordenFooter h2{
    font-size: 50px;
    color: #F5BD19;
}
.ordenFooter DD{
    margin-top: 10px;
    color: #F5BD19;
    text-align:start;
    line-height: 15px;
}
.footerEmail{
    font-size: 35px;
    color: #F5BD19;
    width: 400px;
}
.footerEmail a{
    font-size: 25px;
    text-decoration: none;
    color: #F5BD19;
}
.redesSociales h3{
    color: #F5BD19;
}
.ordenRedesSociales{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.whatsapp{
    font-size: 40px;
    text-decoration: none;
    color: #F5BD19;
    margin-bottom: 20px;
}
.instagram{
    font-size: 50px;
    text-decoration: none;
    color: #F5BD19;
}
.facebook{
    font-size: 40px;
    text-decoration: none;
    color: #F5BD19;
}


@media screen and (max-width: 1440px) {
    .logoPrincipal{
        height: 200px;
        width: 200px;
        padding-top: 10px;
    }
    .textoPrincipal{
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 100px;
        width: 35vw;
        font-size:  50px;
    }
    .distribuidoras{
        min-height: 50vh;
    }
    /* .heladerias{
        min-height: 40vh;
    } */
    .section1{
        min-height: 70vh;
        width: 98vw;
    }
    .ordenSectionNosotros{
        flex-direction: column-reverse;
        align-items: center;
    }
    .nosotros {
        width: 100%;
    }
    .textoNosotros {
        font-size: 40px;
        width: 90%;
    }
    .imgNosotros{
        height: 500px;
        width: 500px;
    }
    .tarjetaNueva {
        margin-bottom: 50px;
    }
    
    .objetivosFlex{
        flex-direction: column;
        align-items: center;
    }
    .objetivosFlex p {
        font-size: 40px;
        width: 100%;
        text-align: center;
    }
    .objetivosFlex h2 {
        width: 100%;
    }
}
@media screen and (max-width: 1100px) {
    .header{
        background-position: -550px  
    }
    .textoPrincipal{
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 50px;
        width: 65vw;
    }
    .heladeriaTitulo {
        margin: 60px;
    }
    
    .objetivosFlex p {
        padding-left: 20px;
        font-size: 30px;
        width: 100%;
    }
    .image7 {
        flex-direction: column-reverse;
    }
    .image7 img {
        width: 100%;
    }
    .image7 p {
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .ordenFooter {
        flex-direction: column;
    }
    .footerEmail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px
    }
    .sectionTitle {
        width: 90%;
    }
}

@media screen and (max-width: 741px) {

    .header{
        background-position: -850px; 
        height: 100vh 
    }
    .textoPrincipal{
        align-self: flex-end;
        margin-right: 10px;
        margin-top: 100px;
        width: 65vw;
    }
    .nosotros {
        font-size: 60px;
    }
    .imgNosotros {
        height: 400px;
        width: 400px;
    }
    .objetivosFlex p {
        font-size: 28px;
        margin-left: 20px;
    }
    .footerEmail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px
    }
}

@media screen and (max-width: 672px) {

    .header {
        background-position: 750px;
    }
    .textoPrincipal {
        margin-top: 150px;
        margin-right: 90px;
    }
    .textoNosotros {
        margin-right: 1px;
    }
    .distribuidoraTitulo {
        margin: 30px;
    }
    /* .heladerias{
        min-height: 80vh;
    } */
    .footerEmail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px
    }
    
}
@media screen and (max-width: 580px) {

    .header{
        height: 90vh;
        background-position: -1700px  
    }
    .textoPrincipal{
        margin-top: 50px;
        width: 85vw;
        font-size: 60px;
        margin-right: 30px;
    }
    .nosotros {
        margin-left: 0;
    }
    .distribuidoraTitulo {
        margin-left: 50px;
        font-size: 50px;
    }
    .heladeriaTitulo {
        margin-left: 30px;
    }
    .objetivosFlex h2 {
        font-size: 40px;
    }
    .objetivosFlex p {
        margin-left: 20px;
    }
    .sectionTitle {
        font-size: 68px
    }
    .image7 p {
        font-size: 30px;
        width: 100%;
    }
    .ordenFooter{
        display: flex;
        align-items: center;
    }
    .footerEmail{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px
    }
    
}
@media only screen and (max-width: 950px) and (orientation: landscape) {
    .header h1{
        text-align: center;
        font-size: 40px;
        width: 100%;
    }
    .navbar-toggler{
        display: none;
    }
    .menuColor {
        display: block;
    }
    .textoPrincipal{
        width: 100%;
    }
    .separador{
        width: 100vw;
        margin-left: 0; 
     margin-right: 0;
    }
    .nosotros{
        margin: 0;
        text-align: center;
        width: 100%;
    }
  }
@media screen and (max-width: 480px) {
    .header{
        justify-content: space-between;
    }
    .textoPrincipal{
        font-size: 45px;
        height: 500px;
    }
    .menuColor{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    } 
    
    .section1{
        width: 100vw;
    }
    .separador {
        margin-left: 30px;
        margin-right: 30px;
    }
    .ordenSectionNosotros{
        margin-left: 20px;
        margin-right: 20px;
    }
    .nosotros{
        text-align: center;
    }
    .textoNosotros {
        width: 100%;
        text-align:center;
        margin: 10px;
    }
    .nosotrosLine {
        font-size: 42px;
        font-weight: 800;
    }
    .imgNosotros {
        height: 300px;
        width: 300px;
        margin-left: 0;
    }
    .carousel-inner{
        height: 250px;
    }
    .fondoCarrousel{
        margin-bottom: 50px;
    }
    .carousel-item img{
        height: 250px;
    }
    .distribuidoraTitulo {
        font-size: 45px;
        margin-left: 20px;
    }
    .ordenHeladerias{
        height: 800px;
    }
    .heladeriaTitulo {
        margin-left: 8px;
        font-size: 63px;
    }
    .borderObjetivos {
        width: 100%;
    }

    .objetivosFlex p{
        margin: 0;
    }
    .objetivosFlex {
        flex-direction: column;
        padding: 30px 0 0 0 ;
        width: 100%;
    }
    .objetivosFlex h2 {
        width: 100%;
        text-align: center;
    }
    .politica h2 {
        margin-left: 1px ;
    }
    .sectionTitle {
        font-size: 42px;
        width: 100%;
        text-align: center;
    }
    .image7 img{
        width: 350px;
    }
    .section7 p {
        font-size: 20px;
    }
    .imageCreciendoContigo{
        height: 250px;
    }
    .footerEmail {
        width: 300px;

    }
    .footerEmail h3{
        text-align: center;
    }
    .telefonos {
        font-size: 20px;
    }
}

@media screen and (max-width: 375px) {
    .nosotros{
        font-size: 40px;
    }
    .textoPrincipal {
        font-size: 50px;
    }
    .distribuidoraTitulo {
        font-size: 38px;
    }
    .objetivosFlex h2{
        
        margin-left: 0px;
    }
    .contactanos h2{
        font-size: 43px;
    }
    .footerEmail a {
        font-size: 24px;
    }
}

@media screen and (max-width: 320px) {
    .heladeriaTitulo {
        font-size: 52px;
    }
}